<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:bulkedit" type="Reply.Feature.BulkEdit.Commands.BulkEditCommand, Reply.Feature.BulkEdit"/>
        </commands>

        <settings>
            <setting name="item:bulkedit:dialog" value="/sitecore/client/Applications/Dialogs/BulkEditByTemplateDialog"/>
            <setting name="item:bulkedit:page"   value="/sitecore/client/Your Apps/Bulk Edit"/>
        </settings>
    </sitecore>
</configuration>
