<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.BulkEdit.Serialization" extends="Helix.Base">
                    <predicate>
                        <include name="Core.YourApps.BulkEdit" database="core" path="/sitecore/client/Your Apps/Bulk Edit" />
                        <include name="Core.Renderings.BulkEdit" database="core" path="/sitecore/client/Speak/Layouts/Renderings/Custom/BulkEdit" />
                        <include name="Core.Dialogs.BulkEdit" database="core" path="/sitecore/client/Applications/Dialogs/BulkEditByTemplateDialog" />
                        <include name="Core.ContextMenues.Default" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default">
                            <exclude children="true">
                                <except name="Bulk Edit" includeChildren="true" />
                            </exclude>
                        </include>

                        <include name="Master.Templates.Samples" database="master" path="/sitecore/templates/Sample/Sample Article" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
